
/*************************
 * Setting
 *************************/

html {
    background-color: white;
}

.no-scroll {
	-samurai-render-class: 'UIView';
}

.no-wrap {
	white-space: nowrap;
}

/*************************
 * Layout
 *************************/

.row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-flex-flow: row wrap;
	   -moz-flex-flow: row wrap;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;

	  -webkit-flex-direction: row;
	-moz-flex-flex-direction: row;
	 -ms-flex-flex-direction: row;
	          flex-direction: row;
}

.col {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;

	-webkit-flex-flow: column wrap;
	   -moz-flex-flow: column wrap;
	    -ms-flex-flow: column wrap;
	        flex-flow: column wrap;
	
	  -webkit-flex-direction: column;
	-moz-flex-flex-direction: column;
	 -ms-flex-flex-direction: column;
			  flex-direction: column;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.img-rounded {
	border-radius: 6px;
}

.img-thumbnail {
	display: inline-block;
	max-width: 100%;
	height: auto;
	padding: 4px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.img-circle {
	border-radius: 50%;
}

hr {
	margin: 0;
	border: 0;
	border-top: 1px solid #eee;
}

h1, .h1 {
	font-size: 36px;
}

h2, .h2 {
	font-size: 30px;
}

h3, .h3 {
	font-size: 24px;
}

h4, .h4 {
	font-size: 18px;
}

h5, .h5 {
	font-size: 14px;
}

h6, .h6 {
	font-size: 12px;
}

small, .small {
	font-size: 85%;
}

mark, .mark {
	padding: 2px;
	background-color: yellow;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

/*************************
 * Display
 *************************/

.block {
	display: block;
}

.inline {
	display: inline;
}

.inline-block {
	display: inline-block;
}

/*************************
 * Positioning
 *************************/

.static {
	position: static;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.fixed {
	position: fixed;
}

.left-top {
	left: 0px;
	top: 0px;
}

.left-bottom {
	left: 0px;
	bottom: 0px;
}

.right-top {
	right: 0px;
	top: 0px;
}

.right-bottom {
	right: 0px;
	bottom: 0px;
}

/*************************
 * Sizing
 *************************/

.audo {
	width: auto;
	height: auto;
}

.fill {
	width: 100%;
	height: 100%;
}

.auto-width {
	width: auto;
}

.auto-height {
	height: auto;
}

.fill-width {
	width: 100%;
}

.fill-height {
	height: 100%;
}

