
.no-scroll {
	-samurai-view-class: 'UIView';
}

p {
	border: 0;
	margin: 0;
	padding: 0;

	-samurai-view-hierarchy: 'leaf';
	-samurai-view-class: 'EMStringLabel';
}

img, image {
	-samurai-view-hierarchy: 'leaf';
	-samurai-view-class: 'SDWebImageView';
}
