
html {
    background-color: white;
}

.no-scroll {
	width: 100%;
	height: 100%;
	
	-samurai-view-class: 'UIView';
}

p {
	border: 0;
	margin: 0;
	padding: 0;

	/*
	-samurai-view-hierarchy: 'leaf';
	-samurai-view-class: 'EMStringLabel';
	*/
}

img, image {
	border: 0;
	margin: 0;
	padding: 0;

	-samurai-view-hierarchy: 'leaf';
	-samurai-view-class: 'SDWebImageView';
}
