/*
 *    ____    _                        __     _      _____
 *   / ___\  /_\     /\/\    /\ /\    /__\   /_\     \_   \
 *   \ \    //_\\   /    \  / / \ \  / \//  //_\\     / /\/
 * /\_\ \  /  _  \ / /\/\ \ \ \_/ / / _  \ /  _  \ /\/ /_
 * \____/  \_/ \_/ \/    \/  \___/  \/ \_/ \_/ \_/ \____/
 *
 * Copyright Samurai development team and other contributors
 *
 * http://www.samurai-framework.com
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */

/*************************
 * Document
 *************************/

html {
	display: block;

	margin: 0;
	border: 0;
	padding: 0;

	width: 100%;
	height: 100%;

	color: #333;
	font-size: 12px;
	font-weight: normal;

	word-wrap: break-word;
	text-align: left;
	text-overflow: ellipsis;

	-samurai-render-model: 'container';
	-samurai-render-class: 'UIScrollView';
}

head {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

title {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

meta {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

link {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

style {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

script {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

body {
	display: block;
	margin: 8px;
	padding: 0;
	width: 100%;
	height: auto;
	color: #606c71;
	background-color: white;
	font-size: 16px;

	-samurai-render-model: 'container';
	-samurai-render-class: 'UIView';
}

element {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;

	-samurai-render-model: 'container';
	-samurai-render-class: 'UIView';
}

template {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	
	-samurai-render-model: 'container';
	-samurai-render-class: 'UIView';
}

/*************************
 * Layer
 *************************/

/* Block based */

article {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	-samurai-render-model: 'container';
	-samurai-render-class: 'UIView';
}

aside {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	-samurai-render-model: 'container';
	-samurai-render-class: 'UIView';
}

div {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	
	-samurai-render-model: 'container';
	-samurai-render-class: 'UIView';
}

footer {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	-samurai-render-model: 'container';
	-samurai-render-class: 'UIView';
}

header {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	-samurai-render-model: 'container';
	-samurai-render-class: 'UIView';
}

hgroup {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	-samurai-render-model: 'container';
	-samurai-render-class: 'UIView';
}

main {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	-samurai-render-model: 'container';
	-samurai-render-class: 'UIView';
}

nav {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	-samurai-render-model: 'container';
	-samurai-render-class: 'UIView';
}

section {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	-samurai-render-model: 'container';
	-samurai-render-class: 'UIView';
}

/* Inline based */

span {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	-samurai-render-model: 'container';
	-samurai-render-class: 'UIView';
}

/*************************
 * List
 *************************/

dir {
	display: block;
	list-style-type: disc;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	-samurai-render-model: 'container';
	-samurai-render-class: 'UIView';
}

ul {
	display: block;
	list-style-type: disc;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	width: auto;
	height: auto;
	max-width: 100%;
	font-size: 14px;

	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElementUl';
}

ol {
	display: block;
	list-style-type: decimal;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	width: auto;
	height: auto;
	max-width: 100%;
	font-size: 14px;

	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElementOl';
}

ul ul,
ol ul {
	list-style-type: circle
}

ol ol ul,
ol ul ul,
ul ol ul,
ul ul ul {
	list-style-type: square
}

li {
	display: block;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 0;
	margin-right: 0;
	padding-left: 8px;
	padding-right: 0px;
	padding-top: 0;
	padding-bottom: 0;
	width: auto;
	height: auto;
	max-width: 100%;
	font-size: 14px;

	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElementLi';
}

/*************************
 * List
 *************************/

dl {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	-samurai-render-model: 'container';
	-samurai-render-class: 'UIView';
}

dt {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-render-model: 'container';
	-samurai-render-class: 'UIView';
}

dd {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	-samurai-render-model: 'container';
	-samurai-render-class: 'UIView';
}

/*************************
 * Table
 *************************/

table {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

thead {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

tbody {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

tfoot {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

th {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

td {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

tr {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

caption {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

col {
	display: none;

	-samurai-render-model: 'hidde';
	-samurai-render-class: '';
}

colgroup {
	display: none;
	
	-samurai-render-model: 'hidde';
	-samurai-render-class: '';
}

/*************************
 * Form
 *************************/

fieldset {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-render-model: 'container';
	-samurai-render-class: 'UIView';
}

form {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	-samurai-render-model: 'container';
	-samurai-render-class: 'UIView';
}

keygen {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

legend {
	display: none;

	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

/*************************
 * Menu
 *************************/

menu {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-render-model: 'container';
	-samurai-render-class: 'UIView';
}

menuitem {
	display: none;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

/*************************
 * Element
 *************************/

button {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 44px;
	height: 44px;
	color: black;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	
	-samurai-render-model: 'element';
	-samurai-render-class: 'UILabel';
}

canvas {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	
	-samurai-render-model: 'element';
	-samurai-render-class: 'UIView';
}

img,
image {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-render-model: 'element';
	-samurai-render-class: 'UIImageView';
}

datalist,
input {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 44px;
	color: black;
	font-size: 14px;
	font-weight: normal;
	text-align: left;

	-samurai-render-model: 'element';
	-samurai-render-class: 'UITextField';
}

label {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-render-model: 'element';
	-samurai-render-class: 'UILabel';
}

output {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-render-model: 'element';
	-samurai-render-class: 'UILabel';
}

progress {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-render-model: 'element';
	-samurai-render-class: 'UIProgressView';
}

optgroup {
	display: none;
	margin: 0;
	padding: 0;
	width: 0px;
	height: 0px;
	
	-samurai-render-model: 'container';
	-samurai-render-class: '';
}

option {
	display: none;
	margin: 0;
	padding: 0;
	width: 0px;
	height: 0px;
	
	-samurai-render-model: 'element';
	-samurai-render-class: '';
}

select
{
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 44px;
	height: 44px;
	color: black;
	font-size: 14px;
	font-weight: normal;
	text-align: center;

	-samurai-render-model: 'element';
	-samurai-render-class: 'UILabel';
}

textarea {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 44px;
	color: black;
	font-size: 14px;
	font-weight: normal;
	text-align: left;

	-samurai-render-model: 'element';
	-samurai-render-class: 'UITextView';
}

time {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-render-model: 'element';
	-samurai-render-class: 'UILabel';
}

/*************************
 * Title
 *************************/

h1 {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	font-size: 18px;
	
	-samurai-render-model: 'inline';
}

h2 {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	font-size: 16px;
	
	-samurai-render-model: 'inline';
}

h3 {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	font-size: 14px;
	
	-samurai-render-model: 'inline';
}

h4 {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	font-size: 12px;
	
	-samurai-render-model: 'inline';
}

h5 {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	font-size: 10px;
	
	-samurai-render-model: 'inline';
}

h6 {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	font-size: 8px;
	
	-samurai-render-model: 'inline';
}

hr {
	display: block;
	margin: 0;
	margin-top: 4px;
	margin-bottom: 4px;
	padding: 0;
	width: 100%;
	height: 1px;
	background-color: #333;

	-samurai-render-model: 'element';
	-samurai-render-class: 'HtmlElementHr';
}

/*************************
 * Decoration
 *************************/

a {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	color: blue;

	-samurai-render-model: 'inline';
}

b {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	font-weight: bold;

	-samurai-render-model: 'inline';
}

i {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	font-style: italic;

	-samurai-render-model: 'inline';
}

q {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	-samurai-render-model: 'inline';
}

u {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	text-decoration: underline;
	
	-samurai-render-model: 'inline';
}

tt {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	color: blue;
	
	font-weight: bold;
	
	-samurai-render-model: 'inline';
}

wbr {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-render-model: 'inline';
}

code {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	-samurai-render-model: 'inline';
}

strong {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	font-weight: bold;
	
	-samurai-render-model: 'inline';
}

big,
small {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-render-model: 'inline';
	-samurai-render-class: '';
}

sub,
sup {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-render-model: 'inline';
	-samurai-render-class: '';
}

del,
ins {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-render-model: 'inline';
	-samurai-render-class: '';
}

s,
strike {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	text-decoration: line-through;
	
	-samurai-render-model: 'inline';
	-samurai-render-class: '';
}

cite,
dfn,
em,
kbd,
samp,
tt
var {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-render-model: 'inline';
	-samurai-render-class: '';
}

basefont,
font {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-render-model: 'inline';
	-samurai-render-class: '';
}

bdi,
bdo {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-render-model: 'inline';
	-samurai-render-class: '';
}

abbr,
acronym,
address {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	-samurai-render-model: 'inline';
}

mark {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	background-color: yellow;
	
	-samurai-render-model: 'inline';
}

/*************************
 * Paragraph
 *************************/

/* Line break */

br {
	display: block;
	margin: 0;
	padding: 0;
	width: 0px;
	height: 10px;

	-samurai-render-model: 'element';
	-samurai-render-class: '';
}

/* Paragraph */

blockquote {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-render-model: 'container';
	-samurai-render-class: 'UIView';
}

p {
	display: block;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	width: auto;
	height: auto;
	max-width: 100%;
	font-size: 14px;

	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElementP';
}

pre {
	display: block;
	margin-top: 4px;
	margin-bottom: 4px;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	max-width: 100%;
	font-size: 14px;
	white-space: pre;

	-samurai-render-model: 'element';
	-samurai-render-class: 'HtmlElementPre';
}

/* Figure / Caption */

figcaption {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-render-model: 'element';
	-samurai-render-class: 'UILabel';
}

figure {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-render-model: 'element';
	-samurai-render-class: 'UILabel';
}

/* Details / Summary */

details {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-render-model: 'container';
	-samurai-render-class: 'UIView';
}

summary {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-render-model: 'element';
	-samurai-render-class: 'UILabel';
}

/*************************
 * Other
 *************************/

area,
map {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

frame,
frameset {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

iframe {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

noframes,
noscript {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

base {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

dialog {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

meter {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';	
}

object,
param {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

rp,
rt,
ruby {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

audio,
source {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

video,
track {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

applet,
command,
embed {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}
