/*
 *    ____    _                        __     _      _____
 *   / ___\  /_\     /\/\    /\ /\    /__\   /_\     \_   \
 *   \ \    //_\\   /    \  / / \ \  / \//  //_\\     / /\/
 * /\_\ \  /  _  \ / /\/\ \ \ \_/ / / _  \ /  _  \ /\/ /_
 * \____/  \_/ \_/ \/    \/  \___/  \/ \_/ \_/ \_/ \____/
 *
 * Copyright Samurai development team and other contributors
 *
 * http://www.samurai-framework.com
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */

/*************************
 * Document
 *************************/

html {
	display: block;

	margin: 0;
	border: 0;
	padding: 0;

	width: 100%;
	height: 100%;

	color: #333;
	background-color: white;

	font-size: 16px;
	font-weight: normal;

	word-wrap: break-word;
	text-overflow: ellipsis;

	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_Html';
}

head {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

title {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

meta {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

base {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

link {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

style {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

script {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

body {
	display: block;
	margin: 8px;
	padding: 0;
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	background-color: white;

	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_Body';
}

element {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;

	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_Element';
}

template {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_Template';
}

/*************************
 * Layer
 *************************/

/* Block based */

article {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_Article';
}

aside {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_Aside';
}

div {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	
	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_Div';
}

footer {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_Footer';
}

header {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_Header';
}

hgroup {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_Hgroup';
}

main {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_Main';
}

nav {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_Nav';
}

section {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_Section';
}

/* Inline based */

span {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_Span';
}

/*************************
 * List
 *************************/

dir {
	display: block;
	list-style-type: disc;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	padding-left: 30px;
	width: auto;
	height: auto;
	max-width: 100%;
	
	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_Dir';
}

ul {
	display: block;
	list-style-type: disc;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	padding-left: 30px;
	width: auto;
	height: auto;
	max-width: 100%;

	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_Ul';
}

ol {
	display: block;
	list-style-type: decimal;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	padding-left: 30px;
	width: auto;
	height: auto;
	max-width: 100%;

	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_Ol';
}

li {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	max-width: 100%;

	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_Li';
}

ul ul,
ol ul {
	list-style-type: circle;
}

ol ol ul,
ol ul ul,
ul ol ul,
ul ul ul {
	list-style-type: square;
}

/*************************
 * List
 *************************/

dl {
	display: block;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	width: auto;
	height: auto;
	max-width: 100%;

	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_Dl';
}

dt {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	max-width: 100%;
	
	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_Dt';
}

dd {
	display: block;
	margin: 0;
	padding: 0;
	padding-left: 30px;
	width: auto;
	height: auto;
	max-width: 100%;

	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_Dd';
}

/*************************
 * Table
 *************************/

table {
	display: table;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	border-collapse: separate;
	border-spacing: 2px;
	border-color: gray;

	-samurai-render-model: 'table';
	-samurai-render-class: 'HtmlElement_Table';
}

caption {
	display: table-caption;
	text-align: center;
	
	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_Caption';
}

thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;

	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_Thead';
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
	
	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_Tbody';
}

tfoot {
	display: table-footer-group;
	vertical-align: middle;
	border-color: inherit;

	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_Tfoot';
}

tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
	
	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_Tr';
}

table > tr {
	vertical-align: middle;
}

td {
	display: table-cell;
	vertical-align: inherit;
	
	border-color: gray;
	border-width: 1px;

	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_Td';
}

th {
	display: table-cell;
	vertical-align: inherit;

	font-weight: bold;

	border-color: gray;
	border-width: 1px;

	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_Th';
}

col {
	display: table-column;
	
	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_Col';
}

colgroup {
	display: table-column-group;

	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_Colgroup';
}

/* for tables without table section elements (can happen with XHTML or dynamically created tables) */

table > tr {
	vertical-align: middle;
}

/*************************
 * Form
 *************************/

form {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_Form';
}

fieldset {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	border-color: #333;
	border-width: 0.5px;

	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_Fieldset';
}

legend {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	-samurai-render-model: 'element';
	-samurai-render-class: 'HtmlElement_Legend';
}

keygen {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

menu {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

menuitem {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

/*************************
 * Element
 *************************/

button {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	color: black;

	-samurai-render-model: 'element';
	-samurai-render-class: 'HtmlElement_Button';
}

canvas {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	
	border-color: #333;
	border-width: 0.5px;
	
	-samurai-render-model: 'element';
	-samurai-render-class: 'HtmlElement_Canvas';
}

datalist {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100px;
	height: 20px;
	color: black;
	border-color: #333;
	border-width: 0.5px;

	-samurai-render-model: 'element';
	-samurai-render-class: 'HtmlElement_Datalist';
}

img, image {
	display: block;
	margin: 0;
	padding: 0;
/*	width: auto; */
/*	height: auto; */

/*	border-width: 0.5px; */
/*	border-color: #333; */
/*	border-radius: 0px; */
	
	-samurai-render-model: 'element';
	-samurai-render-class: 'HtmlElement_Img';
}

input, input[type="text"] {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100px;
	height: 20px;
	color: black;
	border-color: #333;
	border-width: 0.5px;

	-samurai-render-model: 'element';
	-samurai-render-class: 'HtmlElement_Input_Text';
}

input[type="button"] {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: auto;
	height: 20px;
	min-width: 60px;
	color: black;
	border-color: #333;
	border-width: 0.5px;

	-samurai-render-model: 'element';
	-samurai-render-class: 'HtmlElement_Input_Button';
}

input[type="checkbox"] {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: auto;
	height: 20px;
	min-width: 44px;
	color: black;
	border-color: #333;
	border-width: 0.5px;
	
	-samurai-render-model: 'element';
	-samurai-render-class: 'HtmlElement_Input_Checkbox';
}

input[type="file"] {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: auto;
	height: 20px;
	min-width: 44px;
	color: black;
	border-color: #333;
	border-width: 0.5px;
	
	-samurai-render-model: 'element';
	-samurai-render-class: 'HtmlElement_Input_File';
}

input[type="hidden"] {
	display: none;
	margin: 0;
	padding: 0;
	width: 0px;
	height: 0px;

	-samurai-render-model: 'element';
	-samurai-render-class: 'HtmlElement_Input_Hidden';
}

input[type="image"] {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 44px;
	height: 20px;
	color: black;
	border-color: #333;
	border-width: 0.5px;
	
	-samurai-render-model: 'element';
	-samurai-render-class: 'HtmlElement_Input_Image';
}

input[type="password"] {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 20px;
	color: black;
	border-color: #333;
	border-width: 0.5px;
	
	-samurai-render-model: 'element';
	-samurai-render-class: 'HtmlElement_Input_Password';
}

input[type="radio"] {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 44px;
	height: 20px;
	color: black;
	border-color: #333;
	border-width: 0.5px;
	
	-samurai-render-model: 'element';
	-samurai-render-class: 'HtmlElement_Input_Radio';
}

input[type="reset"] {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: auto;
	height: 20px;
	min-width: 60px;
	color: black;
	border-color: #333;
	border-width: 0.5px;
	
	-samurai-render-model: 'element';
	-samurai-render-class: 'HtmlElement_Input_Reset';
}

input[type="submit"] {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: auto;
	height: 20px;
	min-width: 60px;
	color: black;
	border-color: #333;
	border-width: 0.5px;
	
	-samurai-render-model: 'element';
	-samurai-render-class: 'HtmlElement_Input_Submit';
}

label {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-render-model: 'element';
	-samurai-render-class: 'HtmlElement_Label';
}

output {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-render-model: 'element';
	-samurai-render-class: 'HtmlElement_Output';
}

progress {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	-samurai-render-model: 'element';
	-samurai-render-class: 'HtmlElement_Progress';
}

select
{
	display: inline-block;
	margin: 0;
	padding: 0;
	width: auto;
	height: 20px;
	min-width: 40px;
	color: black;
	border-color: #333;
	border-width: 0.5px;

	-samurai-render-model: 'element';
	-samurai-render-class: 'HtmlElement_Select';
}

optgroup {
	display: none;
	
	margin: 0;
	padding: 0;
	width: 0px;
	height: 0px;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

option {
	display: none;
	
	margin: 0;
	padding: 0;
	width: 0px;
	height: 0px;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

textarea {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 200px;
	color: black;
	border-color: #333;
	border-width: 0.5px;

	-samurai-render-model: 'element';
	-samurai-render-class: 'HtmlElement_Textarea';
}

time {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-render-model: 'element';
	-samurai-render-class: 'HtmlElement_Time';
}

meter {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-render-model: 'element';
	-samurai-render-class: 'HtmlElement_Meter';
}

/*************************
 * Title
 *************************/

h1 {
	display: block;
	margin: 0.67em 0;
	padding: 0;
	width: auto;
	height: auto;
	
	font-size: 1.6em;
	font-weight: bold;
	
	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_H1';
}

h2 {
	display: block;
	margin: 0.67em 0;
	padding: 0;
	width: auto;
	height: auto;
	
	font-size: 1.4em;
	font-weight: bold;
	
	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_H2';
}

h3 {
	display: block;
	margin: 0.67em 0;
	padding: 0;
	width: auto;
	height: auto;
	
	font-size: 1.2em;
	font-weight: bold;
	
	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_H3';
}

h4 {
	display: block;
	margin: 0.67em 0;
	padding: 0;
	width: auto;
	height: auto;
	
	font-size: 1.0em;
	font-weight: bold;
	
	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_H4';
}

h5 {
	display: block;
	margin: 0.67em 0;
	padding: 0;
	width: auto;
	height: auto;
	
	font-size: 0.8em;
	font-weight: bold;
	
	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_H5';
}

h6 {
	display: block;
	margin: 0.67em 0;
	padding: 0;
	width: auto;
	height: auto;
	
	font-size: 0.6em;
	font-weight: bold;
	
	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_H6';
}

hr {
	display: block;
	margin: 0.335em 0;
	padding: 0;
	width: 100%;
	height: 1px;
	background-color: #333;

	-samurai-render-model: 'element';
	-samurai-render-class: 'HtmlElement_Hr';
}

/*************************
 * Decoration
 *************************/

a {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	color: blue;
	text-decoration: underline;

	-samurai-render-model: 'inline';
}

b {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	font-weight: bold;

	-samurai-render-model: 'inline';
}

i {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	font-style: italic;

	-samurai-render-model: 'inline';
}

q {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	-samurai-render-model: 'inline';
}

u {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	text-decoration: underline;
	
	-samurai-render-model: 'inline';
}

wbr {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-render-model: 'inline';
}

abbr {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	font-style: italic;
	
	-samurai-render-model: 'inline';
}

address {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	font-style: italic;
	
	-samurai-render-model: 'inline';
}

acronym {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-render-model: 'inline';
}

code {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	font-family: monospace;
	font-weight: bold;

	-samurai-render-model: 'inline';
}

strong {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	font-weight: bold;
	
	-samurai-render-model: 'inline';
}

small {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	font-size: 0.8em;
	
	-samurai-render-model: 'inline';
	-samurai-render-class: '';
}

big {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	font-size: 1.2em;
	
	-samurai-render-model: 'inline';
	-samurai-render-class: '';
}

del {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	text-decoration: line-through;
	
	-samurai-render-model: 'inline';
	-samurai-render-class: '';
}

ins {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	text-decoration: underline;
	
	-samurai-render-model: 'inline';
	-samurai-render-class: '';
}

s, strike {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	text-decoration: line-through;
	
	-samurai-render-model: 'inline';
	-samurai-render-class: '';
}

rp,
rt,
ruby {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-render-model: 'inline';
	-samurai-render-class: '';
}

em {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	font-style: italic;
	
	-samurai-render-model: 'inline';
	-samurai-render-class: '';
}

tt {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	color: blue;
	
	font-family: monospace;
	font-weight: bold;
	
	-samurai-render-model: 'inline';
}

cite {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-render-model: 'inline';
	-samurai-render-class: '';
}

dfn {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-render-model: 'inline';
	-samurai-render-class: '';
}

kbd {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	font-family: monospace;
	font-weight: bold;
	
	-samurai-render-model: 'inline';
	-samurai-render-class: '';
}

samp {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	font-family: monospace;
	font-weight: bold;
	
	-samurai-render-model: 'inline';
	-samurai-render-class: '';
}

var {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	font-family: monospace;
	font-weight: bold;
	font-style: italic;
	
	-samurai-render-model: 'inline';
	-samurai-render-class: '';
}

mark {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	background-color: yellow;
	
	-samurai-render-model: 'inline';
	-samurai-render-class: '';
}

sub {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	vertical-align: sub;
	font-size: 0.6em;
	
	-samurai-render-model: 'element';
	-samurai-render-class: 'HtmlElement_Sub';
}

sup {
	display: inline;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;

	vertical-align: sup;
	font-size: 0.6em;

	-samurai-render-model: 'element';
	-samurai-render-class: 'HtmlElement_Sup';
}

basefont, font {
	display: none;

	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

bdi {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

bdo {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

/*************************
 * Paragraph
 *************************/

/* Line break */

br {
	display: block;
	margin: 0;
	padding: 0;
	width: 0;
	height: 0;

	-samurai-render-model: 'element';
	-samurai-render-class: 'HtmlElement_Br';
}

/* Paragraph */

blockquote {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 40px;
	margin-right: 40px;

	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_Blockquote';
}

p {
	display: block;
	margin: 0.67em 0;
	padding: 0;
	width: auto;
	height: auto;

	-samurai-render-model: 'container';
	-samurai-render-class: 'HtmlElement_P';
}

pre {
	display: block;
	margin-top: 4px;
	margin-bottom: 4px;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	white-space: pre;

	-samurai-render-model: 'element';
	-samurai-render-class: 'HtmlElement_Pre';
}

/* Figure / Caption */

figcaption {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

figure {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

/* Details / Summary */

details {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

summary {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

/*************************
 * Other
 *************************/

area,
map {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

frame,
frameset {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

iframe {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

noframes,
noscript {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

dialog {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

object,
param {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

audio,
source {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

video,
track {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}

applet,
command,
embed {
	display: none;
	
	-samurai-render-model: 'hidden';
	-samurai-render-class: '';
}
