/*
 *    ____    _                        __     _      _____
 *   / ___\  /_\     /\/\    /\ /\    /__\   /_\     \_   \
 *   \ \    //_\\   /    \  / / \ \  / \//  //_\\     / /\/
 * /\_\ \  /  _  \ / /\/\ \ \ \_/ / / _  \ /  _  \ /\/ /_
 * \____/  \_/ \_/ \/    \/  \___/  \/ \_/ \_/ \_/ \____/
 *
 * Copyright Samurai development team and other contributors
 *
 * http://www.samurai-framework.com
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 */

UIActivityIndicatorView {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-view-hierarchy: 'leaf';
	-samurai-view-class: 'UIActivityIndicatorView';
}

UIButton {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-view-hierarchy: 'leaf';
	-samurai-view-class: 'UIButton';
}

UICollectionView {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	
	-samurai-view-hierarchy: 'leaf';
	-samurai-view-class: 'UICollectionView';
}

UICollectionViewCell {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
	
	-samurai-view-hierarchy: 'tree';
	-samurai-view-class: 'UICollectionViewCell';
}

UIImageView {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-view-hierarchy: 'leaf';
	-samurai-view-class: 'UIImageView';
}

UILabel {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-view-hierarchy: 'leaf';
	-samurai-view-class: 'UILabel';
}

UIPageControl {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-view-hierarchy: 'leaf';
	-samurai-view-class: 'UIPageControl';
}

UIPickerView {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-view-hierarchy: 'leaf';
	-samurai-view-class: 'UIPickerView';
}

UIProgressView {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-view-hierarchy: 'leaf';
	-samurai-view-class: 'UIProgressView';
}

UIScrollView {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	
	-samurai-view-hierarchy: 'tree';
	-samurai-view-class: 'UIScrollView';
}

UISearchBar {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 44px;
	
	-samurai-view-hierarchy: 'leaf';
	-samurai-view-class: 'UISearchBar';
}

UISlider {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-view-hierarchy: 'leaf';
	-samurai-view-class: 'UISlider';
}

UIStepper {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-view-hierarchy: 'leaf';
	-samurai-view-class: 'UIStepper';
}

UISwitch {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-view-hierarchy: 'leaf';
	-samurai-view-class: 'UISwitch';
}

UITabBar {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 44px;
	
	-samurai-view-hierarchy: 'leaf';
	-samurai-view-class: 'UITabBar';
}

UITableView {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	
	-samurai-view-hierarchy: 'leaf';
	-samurai-view-class: 'UITableView';
}

UITableViewCell {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;

	-samurai-view-hierarchy: 'tree';
	-samurai-view-class: 'UITableViewCell';
}

UITextField {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-view-hierarchy: 'leaf';
	-samurai-view-class: 'UITextField';
}

UITextView {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-view-hierarchy: 'leaf';
	-samurai-view-class: 'UITextView';
}

UIToolbar {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 44px;
	
	-samurai-view-hierarchy: 'leaf';
	-samurai-view-class: 'UIToolbar';
}

UIView {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-view-hierarchy: 'tree';
	-samurai-view-class: 'UIView';
}

UIWebView {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	
	-samurai-view-hierarchy: 'leaf';
	-samurai-view-class: 'UIWebView';
}
